<%- include('./header.ejs') %>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Coin</th>
                <th scope="col">Price</th>
                <th scope="col">24h Volume</th>
                <th scope="col">Market Cap</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < data.length; i++) {  %>
            <tr>
                <td><%= data[i].item.market_cap_rank %></td>
                <td>
                    <strong><%= data[i].item.name %></strong> 
                    <span class="symbol"><%= data[i].item.symbol %></span>
                </td>
                <td>$<%= data[i].item.data.price %></td>
                <td><%= data[i].item.data.total_volume %></td>
                <td><%= data[i].item.data.market_cap %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>